# ========================
# Android Studio & Gradle
# ========================
.gradle/
**/build/
.cxx/
captures/
local.properties
*.iml
.idea/
*.apk
*.ap_

# ========================
# Kotlin Script
# ========================
*.kts~
*.log

# ========================
# Keystore & Credentials
# ========================
*.jks
*.keystore

# ========================
# Firebase & Secrets
# ========================
google-services.json
serviceAccountKey.json
firebase_b64.txt
.env
.env.*

# ========================
# VS Code & macOS
# ========================
.vscode/
.DS_Store

# ========================
# Misc
# ========================
*.swp
*.bak
*.tmp
*.orig

# ========================
# Version Control
# ========================
*.patch
*.diff