# Gradle
.gradle/
**/build/
*.iml
.gradle/
local.properties
.idea/

# Keystore
*.jks

# Firebase
google-services.json
serviceAccountKey.json

# Environment
.env

# VSCode / MacOS
.vscode/
.DS_Store

# Kotlin Script Output
*.kts~

# Android Studio
.cxx/
captures/